@inherits WorldExplorerBaseComponent
@page "/"
@attribute [RenderModeInteractiveServer]

<PageTitle>@Constants.ProductName</PageTitle>
<AuthorizeView>
	<Authorized>
		<WorldExplorerMap></WorldExplorerMap>
	</Authorized>
	<NotAuthorized>
		@if (context.User.Identity is { IsAuthenticated: false })
		{
			<Promo/>
		}
		else
		{
			<p>You are not authorized to access this resource.</p>
		}
	</NotAuthorized>
</AuthorizeView>