@inherits WorldExplorerBaseComponent

@if (string.IsNullOrWhiteSpace(errorMessage))
{
	<div id="map-wrapper">
		@if (isLoading)
		{
			<div id="loading-control">
				<LoadingControl></LoadingControl>
			</div>
		}
		<div id="map"></div>
	</div>
}
else
{
	<MudText Typo="Typo.h1">@Translation.Error</MudText>
	<MudText>@errorMessage</MudText>
}